<div class="sub2">
	<h2>Login</h2>
	<form action="/login" method="post"role="form">
	 <div class="form-group">
	   <label for="name">Name:</label>
	   <br>
	   <input id="name" class="form-control" name="post[name]" type="text" value="" style="width=90%"/>
	 </div>
	  <div class="form-group">
	   <label for="password">Password:</label>
	   <br>
	   <input id="password" class="form-control" name="post[password]" type="password" value="" style="width=90%"/>
	 </div>

	 <button id="submit" type="submit" class="btn btn-success">Submit</button>
	</form>
	<p>Noch keinen Account? Dann hier <a href="/user/create">registrieren</a>.</p>
</div>