html, body{
	margin:0px;
	padding:0px;
	font-family: "Calibri", Calibri, Sans-serif;
}

#navigation{
	background-color:beige;
	width:100%;
	height:75px;
}

#main{
}

.colorBox{
	margin:5px;
	background-color:red;
	width:20px;
	height:20px;
	cursor:pointer;
	float:left;
}

.sub1{
	margin-left:20%;
	margin-top:20px;
	margin-right:20%;
}

.menuItem{
	width:75px;
	height:75px;
	background-color:lightgreen;
	float:left;
	overflow:hidden;
	text-align:center;
	vertical-align:middle;
}

.icon{
	width:40px;
	height:40px;
	position:relative;
	top:5px;
}

.p_icon{
	width: 48px;
	height: 48px;
	position: relativ;
	padding: 0;
	margin: 0;
	float: left;
}

.itemGroup {
	padding: 8px 8px 8px 8px;
	position: relative;	
	overflow: auto;
	float: left;
}

#p_name {
	margin: 4px;
	height: 40px;
	background-color: 
}

.menuItemText{
	display:inline-block;
	vertical-align:middle;
}

.alert-error{
	background-color:#D46A6A;
	border-color:#550000;
}

.alert-success{
	background-color:#55AA55;
	border-color:#004400;
}

.alert{
	position:fixed;
	border-style:solid;
	top:50px;
	left:35%;
	width:30%;
	padding:5px;
	border-radius:4px;
}

.sub2{
	margin:400px; 
	margin-top:50px;
	margin-bottom:0px;
	padding:20px; 
	border:solid;
	border-radius:5px;
	border-color:rgba(1,1,1,0.1); 
	background-color:white;
	font-size:14pt;
}

.window{
	padding:5px; 
	margin:10px;
	border:solid;
	border-color:#99B2B7; 
	background-color:white;
}

#projectBar{
	padding: 8px;
	margin: 16px;
	border: solid;
	border-width: 4px;
	border-color: #99b2b7;
	background-color: #d5ded9;
}

.timeElement{
	width:10px;
	height:10px;
	cursor:pointer;
	margin:5px;
	float:left;
	border:solid;
	border-width:1px;
}