html, body{
	margin:0px;
	padding:0px;
	font-family: "Calibri", Calibri, Sans-serif;
	width:100%;
	height:100%;
	overflow:hidden;
}

#navigation{
	background-color:beige;
	width:100%;
	height:75px;
}

#main{
}

.colorBox{
	background-color:red;
	width:48px;
	height:48px;
	cursor:pointer;
	float:left;
}

.sub1{
	margin-left:20%;
	margin-top:20px;
	margin-right:20%;
}

.menuItem{
	width:75px;
	height:75px;
	background-color:lightgreen;
	float:left;
	overflow:hidden;
	text-align:center;
	vertical-align:middle;
}

.icon{
	width:48px;
	height:48px;
	position:relative;
	cursor: pointer;
}

.icon:hover {	
	border:solid;
	border-width:2px;
	border-color:#99B2B7;
	margin: -2px;
}

.p_icon{
	width:48px;
	height:48px;
	position:relative;	
	cursor: pointer;
	border: solid 2px #99B2B7;
	margin: -2px;
}

.p_icon:hover {
	border: solid 2px #99B2B7;
	margin: -2px;
}

.timeElement{
	width:16px;
	height:16px;
	cursor:pointer;
	margin:4px;
	margin-top: 24px;
	float:left;
	border:solid;
	border-width:2px;
	border-color:#948C75;
}

.itemGroup {
	padding: 8px;
	margin: 4px;
	position: relative;	
	overflow: auto;
	float: left;
}

#p_name {
	height: 40px;
	width: 464px;
}

.button{
	font-size:16pt; 
	color:#7A6A53;
	text-align:center;
	margin:2px;
	margin-top:8px;
	padding:4px;
	cursor:pointer;
	border:none;
}
.button:hover{
	margin:0px;
	margin-top:6px;
	border:solid;
	border-width:2px;
	border-color:#99B2B7;
}

.menuItemText{
	display:inline-block;
	vertical-align:middle;
}

.alert-error{
	background-color:#D46A6A;
	border-color:#550000;
}

.alert-success{
	background-color:#55AA55;
	border-color:#004400;
}

.alert{
	position:fixed;
	border-style:solid;
	top:50px;
	left:35%;
	width:30%;
	padding:5px;
	border-radius:4px;
}

.sub2{
	margin:400px; 
	margin-top:50px;
	margin-bottom:0px;
	padding:20px; 
	border:solid;
	border-radius:5px;
	border-color:rgba(1,1,1,0.1); 
	background-color:white;
	font-size:14pt;
}

.window{
	padding:8px; 
	border:solid;
	border-width:4px;
	border-color:#99B2B7; 
	background-color:#d5ded9;
}


