html, body{
	margin:0px;
	padding:0px;
	font-family: "Calibri", Calibri, Sans-serif;
}

#navigation{
	background-color:beige;
	width:100%;
	height:75px;
}

#main{
}

.colorBox{
	margin:5px;
	background-color:red;
	width:20px;
	height:20px;
	cursor:pointer;
	float:left;
}

.sub1{
	margin-left:20%;
	margin-top:20px;
	margin-right:20%;
}

.menuItem{
	width:75px;
	height:75px;
	background-color:lightgreen;
	float:left;
	overflow:hidden;
	text-align:center;
	vertical-align:middle;
}

.menuItemText{
	display:inline-block;
	vertical-align:middle;
}

.alert-error{
	background-color:#D46A6A;
	border-color:#550000;
}

.alert-success{
	background-color:#55AA55;
	border-color:#004400;
}

.alert{
	position:fixed;
	border-style:solid;
	top:50px;
	left:35%;
	width:30%;
	padding:5px;
	border-radius:4px;
}

.sub2{
	margin:400px; 
	margin-top:50px;
	margin-bottom:0px;
	padding:20px; 
	border:solid;
	border-radius:5px;
	border-color:rgba(1,1,1,0.1); 
	background-color:white;
	font-size:14pt;
}

.window{
	padding:20px; 
	margin:10px;
	border:solid;
	border-radius:5px;
	border-color:rgba(1,1,1,0.1); 
	background-color:white;
}