html, body{
	margin:0px;
	padding:0px;
	font-family: "Calibri", Calibri, Sans-serif;
	width:100%;
	height:100%;
	overflow:hidden;
}

.colorBox{
	background-color:red;
	width:48px;
	height:48px;
	cursor:pointer;
	float:left;
}

.icon{
	width:48px;
	height:48px;
	position:relative;
	cursor: pointer;
	float: left;
}

.icon:hover {	
	border:solid;
	border-width:2px;
	border-color:#99B2B7;
	margin: -2px;
}

.icon span {
	z-index:999;
	display:none;
	padding:8px 8px;
	top: 56px;
	left: -56px;
	width:128px;
	line-height:16px;
	text-align: center;
	position:absolute;
 } 
 
 .icon:hover span {
	display:inline;
	color:#7A6A53;
	border:2px solid #948C75;
	background:#D9CEB2;
 } 

.p_icon{
	width:48px;
	height:48px;
	position:relative;	
	cursor: pointer;
	margin: -2px;
	float: left;
}

.p_icon:hover {
	border: solid 2px #99B2B7;
	margin: -2px;
}

.timeElement{
	width:16px;
	height:16px;
	cursor:pointer;
	margin:4px;
	margin-top: 24px;
	float:left;
	border:solid;
	border-width:2px;
	border-color:#948C75;
}

.button{
	font-size:16pt; 
	color:#7A6A53;
	text-align:center;
	margin:2px;
	margin-top:8px;
	padding:4px;
	cursor:pointer;
	border:none;
}
.button:hover{
	margin:0px;
	margin-top:6px;
	border:solid;
	border-width:2px;
	border-color:#99B2B7;
}

.window{
	padding:8px; 
	border:solid;
	border-width:4px;
	border-color:#99B2B7; 
	background-color:#d5ded9;
}


