<div class="sub2">
	<h2>Create User</h2>
	<br/>
	<form action="/user" method="post"role="form"  enctype='multipart/form-data'>
	 <div class="form-group">
	   <label for="name">Name:</label>
	   <br>
	   <input id="name" class="form-control" name="post[name]" type="text" value="" style="width=90%"/>
	 </div>
	  <div class="form-group">
	   <label for="password">Password:</label>
	   <br>
	   <input id="password" class="form-control" name="post[password]" type="password" value="" style="width=90%"/>
	 </div>
	   <div class="form-group">
	   <label for="password">Password wiederholen:</label>
	   <br>
	   <input id="password2" class="form-control" type="password" value="" style="width=90%"/>
	 </div>
	  <div class="form-group">
	   <label for="email">Email:</label>
	   <br>
	   <input id="email" class="form-control" name="post[email]" type="text" value="" style="width=90%"/>
	 </div>
	  <div class="form-group">
	   <label for="picture">Picture:</label>
	   <br>
	   <input id="picture" class="form-control" name="post[picture]" type="file" value="" style="width=90%"/>
	 </div>

	 <button id="submit" type="submit" class="btn btn-success">Submit</button>
	</form>

	<script>
		function checkPW(){
			if(document.getElementById("password").value == document.getElementById("password2").value){
				document.getElementById("submit").disabled = false;
			}else{
				document.getElementById("submit").disabled = true;
			}
		}
		var interval = setInterval("checkPW()",500);
	</script>
</div>